<!DOCTYPE html>
<html lang="en" class="">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='js/chart.sample.js') }}" type="text/js">
  <link rel="stylesheet" href="{{ url_for('static', filename='js/chart.sample.min.js') }}" type="text/js">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/main.js') }}" type="text/js">
   <link rel="stylesheet" href="{{ url_for('static', filename='js/main.min.js') }}" type="text/js">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
  <link rel="icon" href="{{ url_for('static', filename='asset/favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="HTML,CSS,JAVASCRIPT; charset=utf-8" />
    <meta name="keywords" content="html,css,xml,js" />
    <meta name=keywords" content="Website Test Interview PT Mede Media Softika,Form Produksi" />
    <meta name="description" content="Website Test Interview PT Mede Media Softika" />
    <meta name="author" content="Ananda Rauf Maududi" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="canonical" href="https://www.tumbuhku.myid/" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Website Test Interview PT Mede Media Softika | Form Produksi</title>

  <!-- Tailwind is included -->
  <link rel="stylesheet" href="css/main.css?v=1704548907480">

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"/>
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#00b4b6"/>




  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130795909-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-130795909-1');
  </script>

</head>
<body>
  <script>
        alert("Selamat datang di Website Test Interview PT Mede Media Softika | Form Produksi");
    </script>

<div id="app">

<nav id="navbar-main" class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item mobile-aside-button">
      <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
    </a>
    <div class="navbar-item">
      <div class="control"><input placeholder="Cari Data" class="input"></div>
    </div>
  </div>
  <div class="navbar-brand is-right">
    <a class="navbar-item --jb-navbar-menu-toggle" data-target="navbar-menu">
      <span class="icon"><i class="mdi mdi-dots-vertical mdi-24px"></i></span>
    </a>
  </div>
    </div>
  </div>
</nav>

<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div>
    Interview PT Mede Media Softika  <b class="font-black">Data Komoditas</b>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">Data Dashboard</p>
    <ul class="menu-list">
      <li class="active">
        <a href="{{ url_for('beranda') }}">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Lihat Data Komoditas</span>
        </a>
      </li>
    </ul>
    <p class="menu-label">Menu</p>
    <ul class="menu-list">
      <li class="--set-active-tables-html">
        <a href="{{ url_for('form_komoditas') }}" onclick="alert('Pindah ke Form Komoditas!'); return true" target="_blank">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Isi Form Komoditas</span>
        </a>
      </li>
      <li class="--set-active-tables-html">
        <a href="{{ url_for('form_produksi') }}" onclick="alert('Pindah ke Form Produksi!'); return true" target="_blank">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Isi Form Produksi</span>
        </a>
      </li>
      <li class="--set-active-tables-html">
        <a href="{{ url_for('lihat_data_produksi') }}" onclick="alert('Pindah ke Daftar Produksi!'); return true" target="_blank">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Lihat Data Produksi</span>
        </a>
      </li>
      <li class="--set-active-tables-html">
        <a href="{{ url_for('lihat_data_transaksi') }}" onclick="alert('Pindah ke Data Transaksi'); return true" target="_blank">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Lihat Transaksi</span>
        </a>
      </li>
      
      
    
    <p class="menu-label">Sosial Media Developer</p>
    <ul class="menu-list">
      
      <li>
        <a href="https://linkedin.com/in/ananda-rauf-maududi-" class="has-icon">
          <span class="icon"><i class="mdi mdi-linkedin"></i></span>
          <span class="menu-item-label">Linkedin Developer</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/AnandaRauf" class="has-icon">
          <span class="icon"><i class="mdi mdi-github-circle"></i></span>
          <span class="menu-item-label">GitHub Developer</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Website Test Interview PT Mede Media Softika | Form Komoditas</li>
      <li>Dashboard</li>
    </ul>
    <a href="{{ url_for('form_produksi') }}" onclick="alert('Refresh Web!'); return true" target="_blank" class="button blue">
      <span class="icon"><i class="mdi mdi-refresh"></i></span>
      <span>Refresh</span>
    </a>
  </div>
</section>



   

    <div class="notification blue">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
        <div>
          <span class="icon"><i class="mdi mdi-buffer"></i></span>
          <b>Data Form Produksi</b>
        </div>
        
      </div>
    </div>

    <div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-database"></i></span>
          Semua Data Form Produksi
        </p>
        <a href="{{ url_for('beranda') }}" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>
      <div class="card-content">
        <table>
          <thead>
          <tr>
            <th></th>
            <th>Kode Komoditas</th>
            <th>Tanggal</th>
            <th>Nama Komoditas</th>
            <th>Jumlah</th>
           
            <th></th>
          </tr>
          </thead>
          <tbody>
           
          <tr>
            <td class="image-cell">
             
            </td>
            <form method="POST" action="{{ url_for('tambah_dataproduksi') }}">
              <td data-label="Kode Komoditas">
                <select id="kodekomoditas" name="kodekomoditas">
                  {% for lihatdata in data %}
                  <option id="kodekomoditas" name="kodekomoditas" value="{{ lihatdata[0] }}">{{ lihatdata[0] }}</option>
                  <option id="kodekomoditas" name="kodekomoditas" value="{{ lihatdata[1] }}">{{ lihatdata[1] }}</option>
                  <option id="kodekomoditas" name="kodekomoditas" value="{{ lihatdata[2] }}">{{ lihatdata[2] }}</option>
                  <option id="kodekomoditas" name="kodekomoditas" value="{{ lihatdata[3] }}">{{ lihatdata[3] }}</option>
                  <option id="kodekomoditas" name="kodekomoditas" value="{{ lihatdata[4] }}">{{ lihatdata[4] }}</option>
                  {% endfor %}
              </select>
            <td data-label="Tanggal"><input type="date" id= "tanggalproduksi" name="tanggalproduksi" required></input></td>
            <td data-label="Nama Komoditas">
              <select id="namakomoditas" name="namakomoditas">
                {% for lihatdata in data %}
                <option id="namakomoditas" name="namakomoditas" value="{{ lihatdata[0] }}">{{ lihatdata[0] }}</option>
                <option id="namakomoditas" name="namakomoditas" value="{{ lihatdata[1] }}">{{ lihatdata[1] }}</option>
                <option id="namakomoditas" name="namakomoditas" value="{{ lihatdata[2] }}">{{ lihatdata[2] }}</option>
                <option id="namakomoditas" name="namakomoditas" value="{{ lihatdata[3] }}">{{ lihatdata[3] }}</option>
                <option id="namakomoditas" name="namakomoditas" value="{{ lihatdata[4] }}">{{ lihatdata[4] }}</option>
                {% endfor %}
            </select>
          </td>
          
            <td data-label="Jumlah"><input type="text" id= "jumlahproduksi" name="jumlahproduksi"  placeholder="1000" required></input></td>
       
           
            <td class="actions-cell">
              <div class="buttons right nowrap">
                <button class="button small white --jb-modal"  data-target="sample-modal-2" type="button">
                  <span class="icon"><i class="mdi mdi-refresh"></i></span>Refresh
                </button>
                <button class="button small blue --jb-modal" data-target="sample-modal" type="submit">
                </form>
                  <span class="icon"><i class="mdi mdi-plus"></i></span>Tambah
                </button>
                
              </div>
            </td>
          </tr>
          
          
          </tbody>
        </table>
        <div class="table-pagination">
          <div class="flex items-center justify-between">
            <div class="buttons">
              <button type="button" class="button active">1</button>
              <button type="button" class="button">2</button>
              <button type="button" class="button">3</button>
            </div>
            <small>Halaman 1 - 3</small>
          </div>
        </div>
      </div>
    </div>
  </section>

<footer class="footer">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
    <div class="flex items-center justify-start space-x-3">
      <div>
        Developed by Ananda Rauf Maududi &copy<script>document.write(new Date().getFullYear())</script>
      </div>
      
    </div>
    
    
  </div>
</footer>

<div id="sample-modal" class="modal">
  <div class="modal-background --jb-modal-close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sample modal</p>
    </header>
    <section class="modal-card-body">
      <p>Lorem ipsum dolor sit amet <b>adipiscing elit</b></p>
      <p>This is sample modal</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button --jb-modal-close">Cancel</button>
      <button class="button red --jb-modal-close">Confirm</button>
    </footer>
  </div>
</div>

<div id="sample-modal-2" class="modal">
  <div class="modal-background --jb-modal-close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sample modal</p>
    </header>
    <section class="modal-card-body">
      <p>Lorem ipsum dolor sit amet <b>adipiscing elit</b></p>
      <p>This is sample modal</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button --jb-modal-close">Cancel</button>
      <button class="button blue --jb-modal-close">Confirm</button>
    </footer>
  </div>
</div>

</div>

<!-- Scripts below are for demo only -->
<script type="text/javascript" src="js/main.min.js?v=1704548907480"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="js/chart.sample.min.js"></script>


<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '658339141622648');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=658339141622648&ev=PageView&noscript=1"/></noscript>

<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

</body>
</html>
